<br>

<div class="container" ng-if="$ctrl.fname">
  <h1>Registration Details</h1>
  First Name: {{$ctrl.fname}} <br>
  Last Name: {{$ctrl.lname}} <br>
  Email: {{$ctrl.email}} <br>
  Phone: {{$ctrl.phone}} <br>
  Favouite Item: {{$ctrl.favItemName}} <br>
  {{$ctrl.favItemDesc}}
<img class="img-responsive" width="250" height="150" ng-src="{{$ctrl.basePath}}/images/{{$ctrl.favItemSName}}.jpg" alt="{{$ctrl.favItemName}}">

</div>
<div ng-if="!$ctrl.fname">
  Not registered yet. Please register by clicking <a ui-sref="public.register"> here </a>.
</div>
